* {
    box-sizing: border-box;
}

body {
    background-color: #f0e7d8;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    align-items: center;
    padding: 100px 200px;
    background-color: #d1c4ab;
    border: 2px solid #7f6c53;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #e1d7c7;
    font-size: 20px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #7f6c53;
    border-radius: 5px;
    margin: 5px 0;
}

ul li:nth-child(odd) {
    background: #d6ccb9;
}

ul li:hover {
    background: #c0b29e;
}

ul li.checked {
    background: #8da558;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #546a39;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 12px;
    color: #7f6c53;
}

.close:hover {
    background-color: #c0b29e;
    color: #3e3123;
}

.header {
    background-color: #7f6c53;
    padding: 5px 40px;
    color: #f0e7d8;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.header:after {
    content: '';
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: 1px solid #7f6c53;
    border-radius: 5px;
    width: 70%;
    padding: 8px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 8px;
    width: 30%;
    background: #d1c4ab;
    color: #7f6c53;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.addBtn:hover {
    background-color: #c0b29e;
}
